body {
    font-family: Arial, sans-serif;
    background: #1d1d1d;
    color: white;
    margin: 0;
    padding: 20px;
}

#container {
    max-width: 700px;
    margin: auto;
    background: #2c2c2c;
    padding: 20px;
    border-radius: 10px;
}

button {
    width: 100%;
    padding: 16px;
    margin: 8px 0;
    background: #3b82f6;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 18px;
}

button:active {
    background: #2563eb;
}

#startBtn {
    background: #10b981;
}

#startBtn:active {
    background: #059669;
}

#playerName {
    width: 100%;
    padding: 14px;
    border-radius: 8px;
    border: none;
    font-size: 18px;
}